@use 'abstracts/mixins' as *;
@use 'abstracts/colours' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/breakpoints' as *;

@use 'base/reset' as *;
@use 'base/typography' as *;

@use 'component/buttons' as *;
@use 'component/faq' as *;

@use 'layout/footer' as *;
@use 'layout/hero' as *;
@use 'layout/navbar' as *;

@use 'pages/homepage' as *;
@use 'pages/about' as *;
@use 'pages/locations' as *;
@use 'pages/careers' as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* setting the root font-size  */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Lexend Deca', 'Space Mono', sans-serif;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover,
	&:focus {
		cursor: pointer;
	}
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.container {
	width: 111rem;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	@include breakpoint(medium) {
		padding: 0 2rem;
	}
}
