@use '../abstracts/' as *;

.about {
	&__hero {
		position: relative;
		height: 20rem;
		background: url('../../public/assets/images/about-hero-desktop.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		@include flex-center;
		justify-content: space-between;

		&::after {
			content: '';
			position: absolute;
			background-image: url('../../public/assets/patterns/white-circles.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 23.4rem;
			height: 6.3rem;
			right: -4rem;
			top: 8rem;
		}
	}
}

.highlight {
	padding: 12rem 0;
	&__inner {
		@include flex-center;
		justify-content: space-between;
	}
	&__content {
		max-width: 44.5rem;
	}
}

.highlight {
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		background-image: url('../../public/assets/patterns/circle.svg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 44.5rem;
		height: 44.5rem;
		right: -35rem;
		top: 11rem;
		z-index: -1;
	}
}

.digital {
	overflow: hidden;
	width: 100%;
	&__arrow {
		position: relative;

		&-image {
			position: absolute;
			right: -10rem;
			bottom: 4rem;
		}
	}
}

.urban {
	padding-top: 12rem;
	position: relative;
	&__image {
		position: absolute;
		z-index: 1;
		left: 0;
	}
}

.values {
	padding-top: 12rem;
	&--title {
		text-align: center;
		padding-bottom: 10.3rem;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		grid-gap: 3rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__image {
		position: relative;
		margin-bottom: 8.7rem;
	}

	&__img {
		border-radius: 50%;
	}

	&__number {
		background: $yellow;
		padding: 3.4rem;
		border-radius: 50%;
		position: absolute;
		left: 35%;
		bottom: -5rem;
	}

	&--num {
		font-family: 'Space Mono';
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		/* identical to box height, or 117% */

		text-align: center;
		letter-spacing: -1.07143px;

		color: #495567;
	}

	&--head {
		font-size: 24px;
		line-height: 28px;

		text-align: center;
		letter-spacing: -1.07143px;

		color: #495567;
		padding-bottom: 2.7rem;
	}

	&--text {
		text-align: center;
		color: #939caa;
	}
}
