@use '../abstracts/' as *;

.footer {
	margin-top: 16rem;
	background: $dark-navy;
	&__top {
		padding: 10.2rem 0;
	}

	&--title {
		color: $white;
		max-width: 41.5rem;
	}

	&__apps {
		&__child {
			margin-right: 1.8rem;
		}
	}
}
