@use '../abstracts/' as *;

.footer {
	margin-top: 16rem;
	@include breakpoint(small) {
		margin-top: 7.2rem;
	}
	&__top {
		padding: 10.2rem 0;
		@include breakpoint(medium) {
			padding: 6.2rem 0;
		}
		position: relative;
		overflow: hidden;
		background: $dark-navy;

		&-bg {
			position: absolute;
			bottom: 0;
			right: -15rem;
		}

		&-inner {
			@include flex-center;
			justify-content: space-between;
			@include breakpoint(medium) {
				flex-direction: column;
				text-align: center;
				gap: 4rem;
			}
		}
	}

	&--title {
		color: $white;
		max-width: 41.5rem;
		@include breakpoint(small) {
			font-size: 3.2rem;
			line-height: 3.2rem;
		}
	}

	&__apps {
		display: flex;
		&-child {
			margin-right: 1.8rem;
		}
	}

	&__bottom {
		background-color: #333a44;
		@include breakpoint(small) {
			// padding: 6.4rem 0;
			padding-top: 6.4rem;
			padding-bottom: 8.8rem;
		}
		&-inner {
			@include flex-center;
			justify-content: space-between;
			// height: 9.6rem;
			@include breakpoint(small) {
				flex-direction: column;
			}
		}

		&-left {
			@include flex-center;
			justify-content: space-between;
			@include breakpoint(small) {
				flex-direction: column;
			}
		}

		&-logo {
			margin-right: 5.818rem;
			@include breakpoint(small) {
				margin-right: 0;
			}
		}

		&-links {
			font-family: 'Space Mono';
			display: grid;
			align-items: center;
			justify-content: space-between;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 3.2rem;
			color: $dime-grey;
			@include breakpoint(small) {
				grid-template-columns: 1fr;
				padding-top: 4.1rem;
				padding-bottom: 8.5rem;
			}
		}

		// Footer Bottom Right
		&-right {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 12rem;
		}
	}
}

.footer .container {
	overflow: visible;
}

.twitter {
	display: none;
}
