@use '../abstracts' as *;

// Base Button Styling
.btn {
	display: inline-block;
	font-family: 'Space Mono';
	font-weight: 700;
	outline: none;
	border: none;
}

// BUTTON STYLES

// First Button
.btn--primary {
	color: $white;
	background-color: $yellow;
	transform: all 350ms ease-out;
	&:hover,
	&:focus {
		color: $yellow;
		background-color: $white;
		border: 3px solid $yellow;
		cursor: pointer;
	}
}

// Button Sizes

// Desktop Button
.btn--desktop {
	width: 19.5rem;
	height: 5.3rem;
	margin: 0 auto;
	font-size: 1.5rem;
}
