@use '../abstracts' as *;

// Base Button Styling
.btn {
	display: inline-block;
	font-size: 1.5rem;
	font-family: 'Space Mono';
	font-weight: 700;
	border: none;
}

// BUTTON STYLES

// First Button
.btn--primary {
	color: $white;
	background-color: $yellow;
	transform: all 0.3s ease-out;
	cursor: pointer;
	&:hover,
	&:focus {
		color: $yellow;
		background-color: $white;
		border: 3px solid $yellow;
	}
}

// Button Sizes

// Desktop Button
.btn--desktop {
	width: 19.5rem;
	height: 5.3rem;
	margin-left: auto;
	@include breakpoint(small) {
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2.4rem;
	}
}
