// @use '../abstracts/colours' as *;
@use '../abstracts/' as *;

$font-space-mono: 'Space Mono';

h1,
h2,
h3,
h4 {
	@include headers;
	font-family: $font-space-mono;
	font-weight: 700;
}

h1 {
	font-size: 5.6rem;
	line-height: 5.6rem;
	letter-spacing: -2.5px;
	margin: 0;
	color: $white;
	@include breakpoint(small) {
		font-size: 4rem;
		line-height: 4rem;
		text-align: center;
		letter-spacing: -1.78571px;
	}
}

h2 {
	font-size: 4.8rem;
	line-height: 4.8rem;
	/* or 100% */
	letter-spacing: -2.14286px;
}

h3 {
	font-size: 4rem;
	line-height: 4.8rem;
	/* identical to box height, or 120% */
	letter-spacing: -1.78571px;
}

h4 {
	font-size: 2.4rem;
	line-height: 2.8rem;
	/* identical to box height, or 117% */
	letter-spacing: -1.07143px;
}

p {
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: $dime-grey;
	font-family: 'Lexend Deca';
}
