@use 'colours';

@mixin headers {
	font-family: 'Space Mono';
	font-weight: bold;
	color: colours.$dark-navy;
}

// Pseudo Elements
@mixin pseudo($loc: after, $content: '', $pos: absolute, $top: 0, $bottom: 0, $left: 0, $right: 0) {
	position: relative;

	&::#{$loc}before {
		content: $content;
		position: $pos;
		@content;
	}
}
// Example - Write less code with these Sass mixins 7:00
// @include pseudo(before){
// 	opacity: 0.8;
// }

// Button hover
@mixin hover() {
	transition: transform 350ms ease-in-out;

	&hover,
	&:focus {
		cursor: pointer;
	}
}
